<!doctype html>

<h2>Witamy w szalonym szpitalu.<h2>

<h3>Nasze widoki </h3>

<form action="/views" method="POST">
    <select name="view_name" required>
        {% for option  in view_options %}
            <option value="{{ option[0] }}">{{ option[0] }}</option>
        {% endfor %}
    </select><br>
    Dodatkowy parametr: <input type="text" name="parameter">
    <input type="submit" value="Submit">
</form>

<br>
<h3>Custom query functionality</h3>

<form action="/query" method="POST">
    <input type="text" name="query" required>
    <input type="submit" value="Submit">
</form>

<br>
<h3>Dodaj pacjenta</h3>

<form action="/add_patient" method="POST">
    PESEL: <input type="number" name="patient_id" required><br>
    IMIE: <input type="text" name="patient_name" required><br>
    NAZWISKO: <input type="text" name="patient_surname" required><br>
    NUMER TELEFONU: <input type="text" name="patient_phone_number" required><br>
    <input type="submit" value="Submit">
</form>

<br>
<h3>Przyjmij pacjenta</h3>

<form action="/receive_patient" method="POST">
    <select name="patient_id" required>
        {% for option in patient_ids %}
            <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
    </select><br>
    ODDZIAL: <input type="text" name="patient_ward" required><br>
    SALA: <input type="text" name="patient_room" required><br>
    <input type="submit" value="Submit">
</form>

<br>
<h3>Wypisz pacjenta</h3>

<form action="/unsubscibe-patient" method="POST">
    <select name="patient_id" required>
        {% for option  in patient_ids %}
            <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
    </select><br>
    <input type="submit" value="Submit">
</form>

<br>
<h3>Dodaj diagnozę</h3>

<form action="/unsubscibe-patient" method="POST">
    <select name="patient_id" required>
        {% for option  in patient_ids %}
            <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
    </select><br>
    DIAGNOZA: <input type="text" name="patient_diagnose" required><br>
    <input type="submit" value="Submit">
</form>

<br>
<h3>Dodaj objawy</h3>

<form action="/unsubscibe-patient" method="POST">
    <select name="patient_id" required>
        {% for option  in patient_ids %}
            <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
    </select><br>
    OBJAW: <input type="text" name="patient_symptom" required><br>
    <input type="submit" value="Submit">
</form>

<br>
<h3>Dodaj dodatek premium</h3>

<form action="/add_money">
    <input type="Submit" value="Submit">
